Flask==1.1.2
Flask-Sockets>=0.2.0
Jinja2==2.11.3
MarkupSafe==1.1.1
Werkzeug==1.0.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorclass==2.2.0
docopt==0.6.2
gevent-websocket>=0.9.5
gevent>=1.0.2
greenlet>=0.4.9
gunicorn>=19.4.5
idna==2.10
itsdangerous==1.1.0
packaging==20.9
pyparsing==2.4.7
redis>=2.10.5
requests==2.25.1
terminaltables==3.1.0
urllib3==1.26.4